/*
.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(./flowers-.jpg);
    height: 200px;
}

.bg-img2 {
    background-color:#000;
    background-size: cover;
    background-image: url(./daisie.jpg);
    height: 200px;
}

.bg-img2 {
    background-color:#000;
    background-size: cover;
    background-image: url(./balloons.jpg);
    height: 200px;
}
*/
